pipeline/Copy from REST connector into ADLS Gen2_copy1.json
{
	"name": "Copy from REST connector into ADLS Gen2_copy1",
	"properties": {
		"activities": [
			{
				"name": "GetBearerToken",
				"description": "Use this Web activity to get bearer token from the Petfinder API based on the secrets from keyvault",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "getSecrets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "apiKey",
						"value": "3smaXsGCUFDcq59OdjGacDyuyfhXHvJB2KZrvnrYRc8pUklw3o"
					},
					{
						"name": "secret",
						"value": "Sh5CSgbwxeqR21KTIsUEkI1esXOgDBJSGTygUj9y"
					}
				],
				"typeProperties": {
					"url": "https://api.petfinder.com/v2/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@activity('getSecrets').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "getSecrets",
				"description": "Retrieves the keyvault secret which stores the client id and secret for the petfinder API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://meldevkeyvault.vault.azure.net/secrets/pfSecret/be75480845e14547b2da9dfd496d3206?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkData",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"SinkContainer": {
				"type": "string"
			},
			"SinkDirectory": {
				"type": "string"
			}
		},
		"annotations": []
	}
}